/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

/*Selectores generales */
*{
	margin: 0;
	padding:0;
	}
body{
	background-color: #02010a;
	font-family:"Dancing Script";
	
	}

figure img{
	box-shadow: 2px 2px 2px  #02010a;
	transform: scale(0.8,0.8);	
}

.contenido{
	width:90%;
	margin:auto;
	
	
	/* Flexbox */
	display:flex;
	flex-flow:row wrap;
		
	}
/* fin generales*/

/* encabezado */
header {
	color:#fff;
	background:#5b7989;
	width:100%;
	padding:10px;
 	font-size: 1.8em;
	text-shadow: 2px 2px 2px  #02010a;
	text-decoration: none;
	border-radius: 10px 10px 0 0 ;
	
	/* Flexbox */
	display: flex;
	flex-flow:row wrap;
	justify-content:space-between;
	align-items:center;
}

header .logo h1{
	width:100%;
	font-size:1.5em;
}

header nav {
	width:30%;
	/* Flexbox */
 
	display:flex;
	flex-wrap:wrap;
}
 
header nav a {
	color:#FFF;
	text-decoration:underline;
	padding:1px;
 	text-align:right;
	
	/* Flexbox */
	flex-grow:1;
	}
	
header nav a:hover{
	text-decoration:none;
	}
header nav a:visited{
	color:#fff;
	text-decoration:none;
	}
 
/*propiedades generales bloque principal*/

.principal{
	width: 100%;
	background:#82c3a6;
	
	
	/*Propiedades flex*/
	
	display: flex;
	justify-content: center;
	align-items: center;
	}
	
	/*escalar la imagen*/
.principal figure img{
	width: 90%;
	}

/* Propiedades segundo bloque de imagenes */
.secundario{
	width: 100%;
	background: #d5c75f;
	border: 1px solid black;
	
	
	/* propiedades flex*/
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	}

/* Propiedades imagenes secundarias*/

. secundario figure{
	width: 50%;	
}

. secundario figure img{
	width:100%;
	}
#imagen-1 img{
	transition-property: transform : rotate , box-shadow;
	transition-duration: 1.5s , 2s;
}

#imagen-1 img:hover{
	transform: rotate(10deg);
	box-shadow: 2px 2px 2px 2px #82c3a6;
	}	
	
#imagen-2 img{
	border: 2px solid black;
	transition-property: transform : translate , box-shadow;
	transition-duration: 1s , 1.5s;
}

#imagen-2 img:hover{
	transform: translate(20px,-5px);
	box-shadow: 2px 2px 2px 2px #82c3a6;
}

/* pie de pagina */

footer {
	background:#C6d5c5;
	width: 100%;
	text-shadow: 2px 2px 2px  #02010a;
	border-radius: 0 0 10px 10px;
	 
	/* Flexbox */
	display: flex;
	justify-content:space-around;
	flex-flow:row wrap;

}

footer div{
	text-align:center;
	width:25%;
	flex-grow:1;
	
	}
footer div img{
	width: 7%;	
}
 
	
/* Estilo para page 2 y 3*/

.principal-page2, .principal-page3{
	width:100%;
	background: #82c3a6;
	
	/* FLEX */
	
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	}
	
.principal-page2 figure, .principal-page3 figure{
	width:30%;
	margin: auto;
	
	}
.principal-page2 figure img, .principal-page3 figure img{
	width:100%;
	}
	
#b1{
	filter: blur(10px);
	}
#b2, #b4, #b6{
	filter: grayscale(100%);
	}
#b3{
	filter: sepia(90%);
	}

/*- media -*/

@media screen and (max-width : 900px){
	.contenido {
		flex-flow:column wrap;
	}
 
	header {
		
		flex-flow:row wrap;
		padding:0;
	}
 
	header .logo {
		text-align:center;
		width:100%;
	}
 
	header nav{
		width: 100%;
	}
	header nav a{
		text-align:center;
	}
	
	/*page 1 */
    .principal, .secundario{
		flex-flow:column wrap;
		
		}
	.principal figure , .secundario figure{
		width: 100%;
			 }	 
			.secundario figure img{
				width: 100%;
				}

	/*page 2 -3 */
	.pincipal-page2, .principal-page3{
		flex-flow: column wrap;
		
	}
	.principal-page2 figure, .principal-page3 figure{
		width: 100%;	
	}
 
	}
@media screen and (max-width: 600px) {

	footer {
		flex-direction: column;
		justify-content:space-around;
	}
	footer div {
		width: 100%;
		}
}

